<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSC 342 HW3</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/send">
        <div class="transaction-container">
            <div class="sender-recipient-flexbox-container">
                <div class="flexbox-item sender-container">
                    <h2>Sender Details</h2>
                    <img id="preview" src="images/placeholder.png" alt="Preview Image">
                    <input type="file" name="sender-image" accept="image/*" onchange="previewImage(event)" required>
                    
                    <div class="row-flexbox-container">
                        <div class="flexbox-item">
                            <label for="sender-first-name">First Name:</label>
                            <input type="text" id="sender-first-name" name="sender-first-name" required>
                        </div>
                        <div class="flexbox-item">
                            <label for="sender-last-name">Last Name:</label>
                            <input type="text" id="sender-last-name" name="sender-last-name" required>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="flexbox-item recipient-container">
                    <h2>Recipient Details</h2>
                    <div class="row-flexbox-container">
                        <div class="flexbox-item">
                            <label>First Name:</label>
                            <input type="text" id="recipient-first-name" name="recipient-first-name" required>
                        </div>
                        <div class="flexbox-item">
                            <label>Last Name:</label>
                            <input type="text" id="recipient-last-name" name="recipient-last-name" required>
                        </div>
                    </div>
                    
                                        
                    <label>Message</label>
                    <textarea name="message" minlength="10" rows="10" cols="40" required></textarea>
                    
                    <label>Notify Recipient:</label>
                    <div class="row-flexbox-container" id="notify-recipient">
                        <div class="flexbox-item">
                            <input type="radio" id="email-radio" name="notification-method" value="email" required>
                            <label>Email</label>
                        </div>
                        <div class="flexbox-item">
                            <input type="radio" id="sms-radio" name="notification-method" value="sms" required>
                            <label>SMS</label>
                        </div>
                        <div class="flexbox-item">
                            <input type="radio" id="donotnotify-radio" name="notification-method" value="none" required>
                            <label>Do not notify</label>
                        </div>
                    </div>
    
                    <div class="row-flexbox-container">
                        <div class="flexbox-item">
                            <label>Email:</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="flexbox-item">
                            <label>Phone Number:</label>
                            <input type="text" id="phone" name="phone">
                        </div>
                    </div>
                    
                </div>
            </div>
    
            <div class="payment-container">
                <h2>Payment Details</h2>
                <div class="row-flexbox-container">
                    <div class="flexbox-item">
                        <label for="card-type">Card Type:</label>
                        <select id="card-type" name="card-type" required>
                            <option value="visa">Visa</option>
                            <option value="mastercard">Mastercard</option>
                            <option value="amex">American Express</option>
                            <option value="discover">Discover</option>
                        </select>
                    </div>
                    <div class="flexbox-item">
                        <label>Card Number:</label>
                        <input type="text" id="card-number" name="card-number" pattern="\d{4}-\d{4}-\d{4}-\d{4}" placeholder="XXXX-XXXX-XXXX-XXXX" required>
                    </div>
                </div>
                
                <div class="row-flexbox-container">
                    <div class="flexbox-item">
                        <label>Expiration Date:</label>
                        <input type="date" id="expiration-date" name="expiration-date" required>
                    </div>
                    <div class="flexbox-item">
                        <label>CVV:</label>
                        <input type="password" id="cvv" name="cvv" min="3" max="4" required>
                    </div>
                    <div class="flexbox-item">
                        <label>Amount ($):</label>
                        <input type="number" id="amount" name="amount" step="0.01" required>
                    </div>
                </div>
                
            </div>
    
            <div class="submit-container">
                <div class="flexbox-item">
                    <input type="checkbox" id="agree-to-terms" name="agree-to-terms" required>
                    <label for="agree-to-terms">I agree to the Terms and Conditions</label>
                </div>
                <input type="submit" id="submit" value="Send">
            </div>
        </div>
    </form>

    <script src="js/form.js" type="text/javascript"></script>
    <script src="js/validate.js" type="text/javascript"></script>
</body>
</html>