body {
    font-family: Nunito, sans-serif;
}

h1 {
    font-weight: bold;
}

.card-title {
    font-weight: bold;
}

.row-flex-container {
    display: flex;
    justify-content: center; /* center items horizontally */
    align-items: center;
}