* {
    font-family: 'Nunito', sans-serif;
}

.section-header {
    font-family: 'Dosis', sans-serif;
    font-size: x-large;
}

header {
    font-family: 'Dosis', sans-serif;
    font-size: xxx-large;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    padding: 10px;
    flex-basis: 100;
}

.hover-button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:visited {
    color: black;
}

.hover-button:hover {
    background-color: rgb(228,228,228);
}

#editor {
    text-align: center;
}

.custom-hr {
    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    justify-content: center;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

figcaption {
    font-size: 12px;
}

figure.image-grid-item {
    max-width: 200px;
    padding: 0px;
    margin: 5px;
    box-sizing: border-box;
}

.image-grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
}

