* {
    font-family: 'Verdana';
    font-size: 14px;
}

body {
    background-color: #f4f4f4;
    font-family: 'Verdana', sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: max-content;
}

.calc-grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.calc-grid-item-display {
    grid-column: 1 / 5;
    grid-row: 1;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0px 2px;
    text-align: right;
}

.flash {
    color: rgb(228,228,228);
}

.calc-grid-item-7 {
    grid-column: 1;
    grid-row: 2;
}

.calc-grid-item-8 {
    grid-column: 2;
    grid-row: 2;
}

.calc-grid-item-9 {
    grid-column: 3;
    grid-row: 2;
}

.calc-grid-item-4 {
    grid-column: 1;
    grid-row: 3;
}

.calc-grid-item-5 {
    grid-column: 2;
    grid-row: 3;
}

.calc-grid-item-6 {
    grid-column: 3;
    grid-row: 3;
}

.calc-grid-item-1 {
    grid-column: 1;
    grid-row: 4;
}

.calc-grid-item-2 {
    grid-column: 2;
    grid-row: 4;
}

.calc-grid-item-3 {
    grid-column: 3;
    grid-row: 4;
}

.calc-grid-item-0 {
    grid-column: 2;
    grid-row: 5;
}

.calc-grid-item-div {
    grid-column: 4;
    grid-row: 2;
}

.calc-grid-item-mul {
    grid-column: 4;
    grid-row: 3;
}

.calc-grid-item-sub {
    grid-column: 4;
    grid-row: 4;
}

.calc-grid-item-c {
    grid-column: 1;
    grid-row: 5;
}

.calc-grid-item-dec {
    grid-column: 3;
    grid-row: 5;
}

.calc-grid-item-sign {
    grid-column: 4;
    grid-row: 6;
}

.calc-grid-item-eq {
    grid-column: 1 / 4;
    grid-row: 6;
}

.flex-container {
    display: flex;
    gap: 30px
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-list-container {
    height: 100px;
    width: 150px;
    overflow: auto; /* vertical scrollbar when content overflows */
    border: 1px solid black;
    border-radius: 2px;
}

.history-item {
    /* border: 1px solid black; */
    padding: 2px 5px;   /* 2px top and bottom, 5px left and right */
    text-align: right;
    background-color: 
}

.history-item:hover {
    cursor: pointer;
    background-color: rgb(228,228,228);
    filter: brightness(90%);
}

.history-item:nth-child(even) {
    background-color: rgb(228,228,228); /* shade every other row */
}

.history-clear {
    margin: 10px;
    width: 100px;
    /* border-radius: 5px;
    border: none;
    background: none;
    padding: 0;
    margin: 0; */
}
