@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0px;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: rgb(249, 249, 249);
    border-right: 1px solid rgb(224, 224, 224);
}

.content {
    grid-column: 2 / 6;
    padding: 10px;
}

#logo {
    width: 270px;
    padding: 10px;
    /* margin: 10px; */
    background-color: rgb(34, 39, 50)
    overflow: visible; /* no effect? */
    transition: transform 0.2s;
}

#logo:hover {
    transform: scale(1.02);
}

.logo-backsplash {
    background-color: rgb(34, 39, 50);
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;  /* shrink-wrap the child content */
}
 
.heading {
    margin: 10px;
}

#class-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.profile-flex-container {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 10px;
}

.profile-image {
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.profile-flex-item {
    flex: 1;    /* distribute available space within a flex container */
}

.charts {
    width: 400px;
}



.links-flex-container {
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    gap: 5px;
}

.links-flex-item {
    /* background-color: rgb(237, 237, 237); */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    color: rgb(176, 176, 176);
    flex: 1;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.links-flex-item:hover {
    background-color: rgb(237, 237, 237);
    color: rgb(65, 65, 65);
}

.nav-link {
    text-decoration: none;
    width: 100%;
    color: rgb(102, 102, 102);
}

.nav-link:hover {
    color: rgb(65, 65, 65);
}


.sublink-flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    /* why is this not having effect? */
    justify-content: flex-start;    /* why is this not having effect */
    gap: 5px;
}


.sublink-flex-item {
    padding: 10px;
    flex: 1;
}



.user-account {
    text-align: center;
    background-color: rgb(83,156,183);
}

#footer {
    position: fixed;
    bottom: 10px;
    padding: 10px;
}

.sub-hover-button {
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    padding: 7px 10px;
}

.sub-hover-button:hover {
    background-color: rgb(228,228,228);
}


/* header bar */
.header-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.header-flex-item {
}

.account-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


.preferences-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-ease: 0.5s;
    gap: 5px;
}

.preferences-flex-item {
    /* padding: 10px; */
    box-sizing: border-box;
}

.dropdown-button {
    cursor: pointer;
    align-items: center;
    height: 60px;
    line-height: 55px;
    border-radius: 10px;
    padding: 10px;
}

.dropdown-button:hover {
    background-color: rgb(228,228,228);
}

.dropdown-button:active {
    background-color: rgb(200,200,200);
}

.dropdown-button:focus {
    background-color: rgb(200,200,200);
}

/* .preferences-flex-item:hover {
    background-color: rgb(228,228,228);
}

.preferences-flex-item:active {
    background-color: rgb(200,200,200);
}

.preferences-flex-item:focus {
    background-color: rgb(200,200,200);
} */

/* smaller profile image in header bar */
.header-flex-container .profile-image {
    width: 50px;
}

.preferences-flex-container button {
    border: none;
}




.dashboard {
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    clear: right;
}

.flex-dropdown-container {
    display: flex;
    flex-direction: column;
    display: none;
}



/* Style the dropdown container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
  
/* Style each list item */
.dropdown-content li {
    text-align: center;
}
  
/* Show the dropdown when hovering over the button */
.dropdown:hover .dropdown-content {
    display: block;
}

.settings-icon {
    font-size: 40px;
    /* vertical-align: middle; no effect*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-icon {
    font-size: 30px;
    /* vertical-align: middle; why is there no effect? */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    padding-top: 30%;
}

.count-icon {
    font-size: 42px;
    vertical-align: text-top;
}

.messages-count {
    vertical-align: text-top;
    display: inline-block;  /* count icon beside email */
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center; /* Center the text horizontally */
    line-height: 20px; /* Center the text vertically */
    font-size: 14px;
    margin-left: -15px;
}







h6 {
    font-size: 12px;
}

.info-box {
    border: 2px solid black;
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
    border-radius: 5px;
}

.info-box-container {
    display: flex;
}

.revenue-card {
    float: left;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.impressions-card {
    float: left;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.traffic-card {
    float: left;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.revenue-card-2 {
    float: left;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.order-card {
    float: left;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
